= nested_form_for @recipe do |f|
  - if @recipe.errors.any?
    #errors
      %p
        = @recipe.errors.count
        Prevented this recipe from saving
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li
            = msg
  .panel-body
    = f.text_field :title, class: 'form-control'
    = f.text_field :description, class: 'form-control'
    %br
    = f.file_field :avatar, class: 'form-control'
    %br
    %br
    .row
      .col-md-6
        #ingredients
          = f.fields_for :ingredients do |ingredient|
            = ingredient.text_field :name, class: 'form-control' 
            = ingredient.link_to_remove "Remove", class: "btn btn-primary"
          .links
          = f.link_to_add "Add ingredients", :ingredients, class: "btn btn-default add-button"
      .col-md-6
        #directions
          = f.fields_for :directions do |direction|
            = render "direction_fields" , f: direction
          .links
          = f.link_to_add "Add directions", :directions, class: "btn btn-default add-button"
  = f.button :submit, class: 'btn btn-primary'